.sidebar {
  flex: 2;
  height: calc(100vh-50px);
  position: sticky;
  top: 10px;
}

.scroller {
  max-height: 100vh;
  overflow-y: scroll;
  scrollbar-color: #0a4f95 #c2d2e4;
  scrollbar-width:  thin;
}

.sidebarWrapper {
  padding: 20px;
}

.sidebarList {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 18px;
}

.sidebarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sidebarIcon {
  margin-right: 25px;
  font-size: 25px;
}

.sidebarButton {
  width: 150px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 500;
}

.sidebarHr {
  margin: 20px 0;
}

